@using WebApp.DTOs;
@model DashboardModel

@{
    int colNr = 6;
    string tooltip_style;
    int MaximWordsDisplay = 5;
}

@if (!string.IsNullOrEmpty(SharedInfo.ShowSuccessMessage))
{
    <script>
        toastr.success("Welcome!")
    </script>
    SharedInfo.ShowSuccessMessage = "";
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9"></div>
    <div class="rounded-top col-xs-6 col-md-3 text-center shadow" id="vocabTitle">
        <p class="title-upper-box">Vocabular</p>
    </div>
</div>
<div class="row jumbotron jumbotron-fluid" id="jumbo">
    <div class="container" style="padding-right:0!important">
        <div class="row levels">
            <div class="square-box col-sm">
                @{
                    string tooltipS = "<div style=\"font-size:1.3em;\"><em>Total items: </em> <u> <b>" + Model.SeedLevelNr + "</b></u></div>";
                }
                <div class='square-content' id="seed" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@tooltipS">
                    <div class="text-center">
                        <img src="~/imagesFoxy/stadii/seedText.png" class="" style="height: 97%;">
                    </div>
                </div>
            </div>
            <div class="square-box col-sm">
                @{
                    tooltipS = "<div style=\"font-size:1.3em;\"><em>Total items: </em> <u> <b>" + Model.LeafLevelNr + "</b></u></div>";
                }
                <div class='square-content' id="leaf" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@tooltipS">
                    <div class="text-center">
                        <img src="~/imagesFoxy/stadii/leafText.png" class="" style="height: 97%;">
                    </div>
                </div>
            </div>
            <div class="square-box col-sm">
                @{
                    tooltipS = "<div style=\"font-size:1.3em;\"><em>Total items: </em> <u> <b>" + Model.BloomLevelNr + "</b></u></div>";
                }
                <div class='square-content' id="bloom" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@tooltipS">
                    <div class="text-center">
                        <img src="~/imagesFoxy/stadii/bloomText.png" class="" style="height: 97%;">
                    </div>
                </div>
            </div>
            <div class="square-box col-sm">
                @{
                    tooltipS = "<div style=\"font-size:1.3em;\"><em>Total items: </em> <u> <b>" + Model.FlourishedLevelNr + "</b></u></div>";
                }
                <div class='square-content' id="flower" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@tooltipS">
                    <div class="text-center">
                        <img src="~/imagesFoxy/stadii/flourishedText.png" class="" style="height: 97%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_radical = "<h5 style=\"color:#4a5c5d\">Radicals' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your radicals' progress at current level.</p><p style=\"display:inline\">To pass current level you need to have at least <p style=\"color:green;display:inline;font-size:1.3em;\"><b>80%</b></p> displayed here. You can view the remaining items and the passed items in section below!</p>";
                }
                <div style="all:unset;position:relative">
                    <a style="all:unset;" tabindex="0" class="popover-dismiss popover-left" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_radical" data-content="@tooltip_style">
                        <div id="circle-radical" style="cursor:pointer;">
                            <script>
                        RadicalCircliful(@Model.RadicalPercent);
                            </script>
                        </div>
                    </a>
                </div>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#radicalList" aria-expanded="false" aria-controls="collapseExample">
                        Radical
                    </button>
                </div>
                <div class="collapse" id="radicalList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Remaining lessons  <span class="badge badge-radical badge-number-size">@Model.RadicalsLesson.Count()</span></p>

                        @{
                            var n = Model.RadicalsLesson.Count() / colNr;
                            var m = Model.RadicalsLesson.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsLesson[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsLesson[i * colNr + j].Template.Name">

                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsLesson[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Viewed lesson  <span class="badge badge-radical badge-number-size">@Model.RadicalsViewed.Count()</span></p>
                        @{
                            n = Model.RadicalsViewed.Count() / colNr;
                            m = Model.RadicalsViewed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsViewed[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsViewed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsViewed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Passed items  <span class="badge badge-radical badge-number-size">@Model.RadicalsPassed.Count()</span></p>
                        @{
                            n = Model.RadicalsPassed.Count() / colNr;
                            m = Model.RadicalsPassed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsPassed[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsPassed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsPassed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_kanji = "<h5 style=\"color:#4a5c5d\">Kanjis' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your kanjis' progress at current level.</p><p style=\"display:inline\">To pass current level you need to have at least <p style=\"color:green;display:inline;font-size:1.3em;\"><b>80%</b></p> displayed here. You can view the remaining items and the passed items in section below!</p>";
                }
                <a style="all:unset;" tabindex="0" class="popover-dismiss popover-top" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_kanji" data-content="@tooltip_style">
                    <div id="circle-kanji" style="cursor:pointer;">
                        <script>
                            KanjiCircliful(@Model.KanjiPercent);
                        </script>
                    </div>
                </a>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#kanjiList" aria-expanded="false" aria-controls="collapseExample">
                        Kanji
                    </button>
                </div>
                <div class="collapse" id="kanjiList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Remaining lessons <span class="badge badge-kanji badge-number-size">@Model.KanjisLesson.Count()</span></p>
                        @{
                            n = Model.KanjisLesson.Count() / colNr;
                            m = Model.KanjisLesson.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisLesson[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisLesson[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisLesson[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisLesson[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Viewed lessons <span class="badge badge-kanji badge-number-size">@Model.KanjisViewed.Count()</span></p>
                        @{
                            n = Model.KanjisViewed.Count() / colNr;
                            m = Model.KanjisViewed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisViewed[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisViewed[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisViewed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisViewed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Passed items <span class="badge badge-kanji badge-number-size">@Model.KanjisPassed.Count()</span></p>
                        @{
                            n = Model.KanjisPassed.Count() / colNr;
                            m = Model.KanjisPassed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisPassed[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisPassed[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisPassed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisPassed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_word = "<h5 style=\"color:#4a5c5d\">Words' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your overall words' progress.</p><p style=\"display:inline\">You don't have to worry if the percentage is always law. It represent how many words have you leared from ALL words available on this site!</p>";
                }
                <a style="all:unset;" tabindex="0" class="popover-dismiss popover-rigth" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_word" data-content="@tooltip_style">


                    <div id="circle-word" style="cursor:pointer;">
                        <script>
                    WordCircliful(@Model.WordsPercent);
                        </script>
                    </div>
                </a>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#wordsList" aria-expanded="false" aria-controls="collapseExample">
                        Words
                    </button>
                </div>
                <div class="collapse" id="wordsList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Lessons <span class="badge badge-word badge-number-size">@Model.WordsLesson.Count()</span></p>
                        @{
                            n = Model.WordsLesson.Count();
                        }
                        @for (int i = 0; i < MaximWordsDisplay && i < n; ++i)
                        {
                            <div class="text-center">
                                @{
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.WordsLesson[i].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.WordsLesson[i].MainReading + "</p></div>";

                                }
                                <div class="little-squares-words rounded little-word" data-toggle="tooltip" data-placement="right" data-html="true" title="@tooltip_style">
                                    <a style="all:unset!important" asp-controller="Vocabular" asp-action="word/@Model.WordsLesson[i].Template.Name">
                                        <div class="little-content word-no-top-pad">
                                            <div class="table">
                                                <div class="table-cell little-text .ja">
                                                    @Model.WordsLesson[i].Template.Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        @{if (MaximWordsDisplay < n)
                            {
                                <div class="little-squares-words rounded words-show-more">

                                    <div class="little-content word-no-top-pad" data-toggle="modal" data-target="#longModalWords">
                                        <div class="table">
                                            <div class="table-cell .ja">
                                                See more words...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" style="margin-top:2em!important" id="longModalWords" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="longModalWordsTitle">Available words lessons</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                @for (int i = 0; i < n; ++i)
                                                {
                                                    <div class="text-center">
                                                        @{
                                                            tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.WordsLesson[i].MeaningsList[0] + "</p>";
                                                            tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.WordsLesson[i].MainReading + "</p></div>";

                                                        }
                                                        <div class="little-squares-words rounded little-word" style="margin-left:9px!important" data-toggle="tooltip" data-placement="right" data-html="true" title="@tooltip_style">
                                                            <a style="all:unset!important" asp-controller="Vocabular" asp-action="word/@Model.WordsLesson[i].Template.Name">
                                                                <div class="little-content word-no-top-pad">
                                                                    <div class="table">
                                                                        <div class="table-cell little-text .ja">
                                                                            @Model.WordsLesson[i].Template.Name
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:5em">
    <a style="all:unset!important" asp-controller="VocabularLesson" asp-action="lessonpage">
        <button type="button" class="btn btn-info btn-lg rounded-0" style="margin-right:0.3em;">

            Lesson

        </button>
    </a>
    <a style="all:unset!important" asp-controller="VocabularReview" asp-action="index">
        <button type="button" class="btn btn-info btn-lg rounded-0">

            Review

        </button>
    </a>
</div>

@*<div class="row">
    <div class="col jumbotron" style="margin-right:0.5em;padding:1em!important">
        <div class="container">
            <div class="rounded-top text-center shadow divTitle">
                <p class="title-upper-box">Grammar</p>
            </div>
            @if (Model.Grammar.Formulars.Count() > 0)
            {
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    @{
                        var formular = Model.Grammar.Formulars[0];
                    }
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card p-3" style="width: 18rem;">
                                <div class="card-header">
                                    <div class="text-uppercase">
                                        Words status
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @formular.WordsPercentage%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                            @formular.WordsPercentage%
                                        </div>
                                    </div>
                                </div>
                                <img class="card-img-top" src="~/imagesFoxy/grammar/grammar@(formular.Template.PartialViewId).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">#@(formular.Template.PartialViewId). @formular.Template.Topic</h5>
                                    <p class="card-text">
                                        @formular.Template.Description

                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <p class="text-uppercase" style="display:inline!important;margin-bottom:0;font-size:0.85em">Number of questions available </p>
                                            <div class="badge badge-warning" style="font-size:0.85em;display:inline!important;height:1.5em!important;margin-left:0.5em!important">
                                                @formular.Questions.Count()
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="background-color: azure">
                                        <div class="row">
                                            <p class="text-uppercase">Score</p>
                                        </div>
                                        @if (formular.Item.TimesAnswered == 0)
                                        {
                                            <p>No answers yet.</p>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                @for (int i = 0; i < formular.StarsNumber; ++i)
                                                {
                                                    <i class="fas fa-star star-orange rating-star"></i>
                                                }
                                                @for (int i = formular.StarsNumber; i < 5; ++i)
                                                {
                                                    <i class="fas fa-star rating-star"></i>
                                                }
                                            </div>
                                            <div class="row">
                                                <p>@(formular.Average)/5 average based on @formular.Item.TimesAnswered answers.</p>
                                            </div>
                                        }
                                    </li>

                                </ul>
                                <div class="card-body float-bottom">
                                    <a class="" asp-controller="Grammar" asp-action="formular@(formular.Template.PartialViewId)" style="all:unset">
                                        <div class="btn btn-info">Open Formualar</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @for (int f = 1; f < Model.Grammar.Formulars.Count(); ++f)
                        {
                            formular = Model.Grammar.Formulars[f];
                        <div class="carousel-item">
                            <div class="card p-3" style="width: 18rem;">
                                <div class="card-header">
                                    <div class="text-uppercase">
                                        Words status
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @formular.WordsPercentage%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                            @formular.WordsPercentage%
                                        </div>
                                    </div>
                                </div>
                                <img class="card-img-top" src="~/imagesFoxy/grammar/grammar@(formular.Template.PartialViewId).jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">#@(formular.Template.PartialViewId). @formular.Template.Topic</h5>
                                    <p class="card-text">
                                        @formular.Template.Description

                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <p class="text-uppercase" style="display:inline!important;margin-bottom:0;font-size:0.85em">Number of questions available </p>
                                            <div class="badge badge-warning" style="font-size:0.85em;display:inline!important;height:1.5em!important;margin-left:0.5em!important">
                                                @formular.Questions.Count()
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="background-color: azure">
                                        <div class="row">
                                            <p class="text-uppercase">Score</p>
                                        </div>
                                        @if (formular.Item.TimesAnswered == 0)
                                        {
                                            <p>No answers yet.</p>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                @for (int i = 0; i < formular.StarsNumber; ++i)
                                                {
                                                    <i class="fas fa-star star-orange rating-star"></i>
                                                }
                                                @for (int i = formular.StarsNumber; i < 5; ++i)
                                                {
                                                    <i class="fas fa-star rating-star"></i>
                                                }
                                            </div>
                                            <div class="row">
                                                <p>@(formular.Average)/5 average based on @formular.Item.TimesAnswered answers.</p>
                                            </div>
                                        }
                                    </li>

                                </ul>
                                <div class="card-body float-bottom">
                                    <a class="" asp-controller="Grammar" asp-action="formular@(formular.Template.PartialViewId)" style="all:unset">
                                        <div class="btn btn-info">Open Formualar</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="col jumbotron" style="margin-left:0.5em;padding:1em!important">
        <div class="container">
            <div class="rounded-top text-center shadow divTitle">
                <p class="title-upper-box">Reading</p>
            </div>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>*@

