@using WebApp.DTOs;
@model DashboardModel

@{
    int colNr = 6;
    string tooltip_style;
    int MaximWordsDisplay = 5;
}

@if (!string.IsNullOrEmpty(SharedInfo.ShowSuccessMessage))
{
    <script>
        toastr.success("Welcome!")
    </script>
    SharedInfo.ShowSuccessMessage = "";
}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9"></div>
    <div class="rounded-top col-xs-6 col-md-3 text-center shadow" id="vocabTitle">
        <p class="title-upper-box">Vocabular</p>
    </div>
</div>
<div class="row jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
        <div class="row levels">
            <div class="square-box col-sm" id="seed">
                <div class='square-content'>
                    <div>
                        <span>
                            Seed
                        </span>
                    </div>
                </div>
            </div>
            <div class="square-box col-sm" id="leaf">
                <div class='square-content'>
                    <div>
                        <span>
                            Leaf
                        </span>
                    </div>
                </div>
            </div>
            <div class="square-box col-sm" id="bloom">
                <div class='square-content'>
                    <div>
                        <span>
                            Bloom
                        </span>
                    </div>
                </div>
            </div>
            <div class="square-box col-sm" id="flower">
                <div class='square-content'>
                    <div>
                        <span>
                            Flourished
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_radical = "<h5 style=\"color:#4a5c5d\">Radicals' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your radicals' progress at current level.</p><p style=\"display:inline\">To pass current level you need to have at least <p style=\"color:green;display:inline;font-size:1.3em;\"><b>80%</b></p> displayed here. You can view the remaining items and the passed items in section below!</p>";
                }
                <div style="all:unset;position:relative">
                    <a style="all:unset;" tabindex="0" class="popover-dismiss popover-left" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_radical" data-content="@tooltip_style">
                        <div id="circle-radical" style="cursor:pointer;">
                            <script>
                        RadicalCircliful(@Model.RadicalPercent);
                            </script>
                        </div>
                    </a>
                </div>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#radicalList" aria-expanded="false" aria-controls="collapseExample">
                        Radical
                    </button>
                </div>
                <div class="collapse" id="radicalList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Remaining lessons  <span class="badge badge-radical badge-number-size">@Model.RadicalsLesson.Count()</span></p>

                        @{
                            var n = Model.RadicalsLesson.Count() / colNr;
                            var m = Model.RadicalsLesson.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsLesson[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsLesson[i * colNr + j].Template.Name">

                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsLesson[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Viewed lesson  <span class="badge badge-radical badge-number-size">@Model.RadicalsViewed.Count()</span></p>
                        @{
                            n = Model.RadicalsViewed.Count() / colNr;
                            m = Model.RadicalsViewed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsViewed[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsViewed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsViewed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Passed items  <span class="badge badge-radical badge-number-size">@Model.RadicalsPassed.Count()</span></p>
                        @{
                            n = Model.RadicalsPassed.Count() / colNr;
                            m = Model.RadicalsPassed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.RadicalsPassed[i * colNr + j].MeaningsList[0] + "</p>";
                                    <div class="little-squares rounded little-radical" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical/@Model.RadicalsPassed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.RadicalsPassed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_kanji = "<h5 style=\"color:#4a5c5d\">Kanjis' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your kanjis' progress at current level.</p><p style=\"display:inline\">To pass current level you need to have at least <p style=\"color:green;display:inline;font-size:1.3em;\"><b>80%</b></p> displayed here. You can view the remaining items and the passed items in section below!</p>";
                }
                <a style="all:unset;" tabindex="0" class="popover-dismiss popover-top" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_kanji" data-content="@tooltip_style">
                    <div id="circle-kanji" style="cursor:pointer;">
                        <script>
                            KanjiCircliful(@Model.KanjiPercent);
                        </script>
                    </div>
                </a>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#kanjiList" aria-expanded="false" aria-controls="collapseExample">
                        Kanji
                    </button>
                </div>
                <div class="collapse" id="kanjiList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Remaining lessons <span class="badge badge-kanji badge-number-size">@Model.KanjisLesson.Count()</span></p>
                        @{
                            n = Model.KanjisLesson.Count() / colNr;
                            m = Model.KanjisLesson.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisLesson[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisLesson[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisLesson[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisLesson[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Viewed lessons <span class="badge badge-kanji badge-number-size">@Model.KanjisViewed.Count()</span></p>
                        @{
                            n = Model.KanjisViewed.Count() / colNr;
                            m = Model.KanjisViewed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisViewed[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisViewed[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisViewed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisViewed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="container text-center container-dashboard-vocab">
                        <p>Passed items <span class="badge badge-kanji badge-number-size">@Model.KanjisPassed.Count()</span></p>
                        @{
                            n = Model.KanjisPassed.Count() / colNr;
                            m = Model.KanjisPassed.Count() % colNr;
                            if (m != 0) { n = n + 1; } else { m = colNr; }
                        }
                        @for (int i = 0; i < n; ++i)
                        {
                            <div class="row text-center">
                                @for (int j = 0; (i < n - 1 && j < colNr) || (n - 1 == i && j < m); ++j)
                                {
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.KanjisPassed[i * colNr + j].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.KanjisPassed[i * colNr + j].MainReading + "</p></div>";
                                    <div class="little-squares rounded little-kanji" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji/@Model.KanjisPassed[i * colNr + j].Template.Name">
                                            <div class="little-content">
                                                <div class="table">
                                                    <div class="table-cell little-text .ja">
                                                        @Model.KanjisPassed[i * colNr + j].Template.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                @{
                    string title_circliful_word = "<h5 style=\"color:#4a5c5d\">Words' progress</h5>";
                    tooltip_style = "<p  style=\"font-size:1.1em;text-align:justify;\">This represents your overall words' progress.</p><p style=\"display:inline\">You don't have to worry if the percentage is always law. It represent how many words have you leared from ALL words available on this site!</p>";
                }
                <a style="all:unset;" tabindex="0" class="popover-dismiss popover-rigth" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="top" title="@title_circliful_word" data-content="@tooltip_style">


                    <div id="circle-word" style="cursor:pointer;">
                        <script>
                    WordCircliful(@Model.WordsPercent);
                        </script>
                    </div>
                </a>
                <div class="text-center" style="margin-bottom:1em;">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#wordsList" aria-expanded="false" aria-controls="collapseExample">
                        Words
                    </button>
                </div>
                <div class="collapse" id="wordsList">
                    <div class="container text-center container-dashboard-vocab">
                        <p>Lessons <span class="badge badge-word badge-number-size">@Model.WordsLesson.Count()</span></p>
                        @{
                            n = Model.WordsLesson.Count();
                        }
                        @for (int i = 0; i < MaximWordsDisplay && i < n; ++i)
                        {
                            <div class="text-center">
                                @{
                                    tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.WordsLesson[i].MeaningsList[0] + "</p>";
                                    tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.WordsLesson[i].MainReading + "</p></div>";

                                }
                                <div class="little-squares-words rounded little-word" data-toggle="tooltip" data-placement="right" data-html="true" title="@tooltip_style">
                                    <a style="all:unset!important" asp-controller="Vocabular" asp-action="word/@Model.WordsLesson[i].Template.Name">
                                        <div class="little-content word-no-top-pad">
                                            <div class="table">
                                                <div class="table-cell little-text .ja">
                                                    @Model.WordsLesson[i].Template.Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        @{if (MaximWordsDisplay < n)
                            {
                                <div class="little-squares-words rounded words-show-more">

                                    <div class="little-content word-no-top-pad" data-toggle="modal" data-target="#longModalWords">
                                        <div class="table">
                                            <div class="table-cell .ja">
                                                See more words...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" style="margin-top:2em!important" id="longModalWords" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="longModalWordsTitle">Available words lessons</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                @for (int i = 0; i < n; ++i)
                                                {
                                                    <div class="text-center">
                                                        @{
                                                            tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + @Model.WordsLesson[i].MeaningsList[0] + "</p>";
                                                            tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + @Model.WordsLesson[i].MainReading + "</p></div>";

                                                        }
                                                        <div class="little-squares-words rounded little-word" style="margin-left:9px!important" data-toggle="tooltip" data-placement="right" data-html="true" title="@tooltip_style">
                                                            <a style="all:unset!important" asp-controller="Vocabular" asp-action="word/@Model.WordsLesson[i].Template.Name">
                                                                <div class="little-content word-no-top-pad">
                                                                    <div class="table">
                                                                        <div class="table-cell little-text .ja">
                                                                            @Model.WordsLesson[i].Template.Name
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:5em">
    <button type="button" class="btn btn-info btn-lg rounded-0" style="margin-right:0.3em;">
        <a style="all:unset!important" asp-controller="VocabularLesson" asp-action="lessonpage">
            Lesson
        </a>
    </button>

    <button type="button" class="btn btn-info btn-lg rounded-0">
        <a style="all:unset!important" asp-controller="VocabularReview" asp-action="index">
            Review
        </a>
    </button>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Grammar</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reading</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>