@{
    Layout = null;
}
@model LessonModel
@*@if (Model.LessonList.Count() == 0)
    {
        <p>You have no Lesson!</p>
    }
    else
    {
        <div>Header menu</div>
        @await Html.PartialAsync("VocabLessonItem", Model.LessonList[0])
        <div>footer lesson</div>
    }*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LogIn</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <script src="~/toastr/toastr.js"></script>

</head>

<body style="background-color:#808080;">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="height:100%; width:100%;">
                    <p>Slide</p>
                    <div class="card" style="width: 18rem; margin:15%;margin-left:40%;">
                        <div class="card-body">
                            <h5 class="card-title">@Model.LessonList[0].Template.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Model.LessonList[0].Template.Meaning</h6>
                            <p class="card-text">@Model.LessonList[0].Template.Reading</p>
                            <a href="#" class="card-link">@Model.LessonList[0].Template.MeaningMnemonic</a>
                            <a href="#" class="card-link">@Model.LessonList[0].Template.ReadingMnemonic</a>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 1; i < Model.LessonList.Count(); ++i)
            {
                <div class="carousel-item">
                    <div style="height:100%; width:100%;">
                        <p>Slide</p>
                        <div class="card" style="width: 18rem; margin:15%;margin-left:40%;">
                            <div class="card-body">
                                <h5 class="card-title">@Model.LessonList[i].Template.Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@Model.LessonList[i].Template.Meaning</h6>
                                <p class="card-text">@Model.LessonList[i].Template.Reading</p>
                                <a href="#" class="card-link">@Model.LessonList[i].Template.MeaningMnemonic</a>
                                <a href="#" class="card-link">@Model.LessonList[i].Template.ReadingMnemonic</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</body>