@model LessonModel
@{
    Layout = null;
}

@{
    Data.Domain.Entities.TemplateItems.VocabularType elementType;
    string elementNameColor;
    string elementMeaningColor;
    string hideDiv;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foxy</title>

    <!-- Bootstrap core CSS -->
    <script src="~/vendor/jquery/jquery.js"></script>


    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <!-- Plugin CSS -->
    <!-- Custom styles for this template -->
    <link href="~/css/foxy.css" rel="stylesheet">
    <link href="~/css/ItemForm.css" rel="stylesheet">
    <link href="~/css/fontfamily.css" rel="stylesheet">
    <link href="~/css/DashBoard.css" rel="stylesheet" type="text/css" />
    <link href="~/toastr/toastr.css" rel="stylesheet" />

    <link href="~/css/LessonVocabular.css" rel="stylesheet" />

    <script src="~/toastr/toastr.js"></script>
    <script src="~/js/foxy.js"></script>
    <script src="~/js/LessonSession.js"></script>
</head>
<body>
    <script>
        lessonNumber = @Model.LessonList.Count();
    </script>
    <div class="fill-screen">
        <div class="upper-header">

        </div>
        <a style="all:unset!important" asp-controller="Dashboard" asp-action="Index">
            <div class="my-btn-home">
                <img href="#nav-meaning" src="~/img/octicons/svg/home.svg" class="home-icon" alt="*">
                <p style="font-weight:bold; color:rgba(0, 0, 0, 0.84);">Home</p>
            </div>
        </a>
        <div id="huge-text-div">
            @{
                hideDiv = "";
                elementType = Model.LessonList[0].Template.Type;
                if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Radical)
                {
                    elementNameColor = "radical-color";
                    hideDiv = "hide-a-div";
                }
                else if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Kanji)
                {
                    elementNameColor = "kanji-color";
                }
                else
                {
                    elementNameColor = "word-color";
                }
            }
            <div class="div-for-name @elementNameColor" id="mainDivName">
                @Model.LessonList[0].Template.Name
            </div>
            <div class="div-for-meaning @elementNameColor" id="mainDivMeaning">
                @Model.LessonList[0].Template.Meaning
            </div>

        </div>
        <nav class="my-navbar-dark">
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-structure-tab" data-toggle="tab" href="#nav-structure" role="tab" aria-controls="nav-structure" aria-selected="true">Structure</a>
                <a class="nav-item nav-link" id="nav-meaning-tab" data-toggle="tab" href="#nav-meaning" role="tab" aria-controls="nav-meaning" aria-selected="false">Meaning</a>
                <a class="nav-item nav-link" id="nav-reading-tab" data-toggle="tab" href="#nav-reading" role="tab" aria-controls="nav-reading" aria-selected="false">Reading</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-structure" role="tabpanel" aria-labelledby="nav-structure-tab">
                <div class="row justify-content-center" style="width:100%;margin:0!important">
                    <div class="info-div flex effect1">
                        <div class="left-button float-left vertical-align" id="navigateBackItem" tabindex="1">
                            <div class="icon-container">
                                <img href="#nav-meaning" src="~/img/octicons/svg/chevron-left.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                        <div class="middle-div" id="middle-div-structure">
                            @await Html.PartialAsync("PartialView/StructureTab", Model.LessonList[0])
                        </div>
                        <div class="left-button float-right vertical-align" id="navigateAheadMeaning" tabindex="1">
                            <div class="icon-container">
                                <img src="~/img/octicons/svg/chevron-right.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-meaning" role="tabpanel" aria-labelledby="nav-meaning-tab">
                <div class="row justify-content-center" style="width:100%;margin:0!important">
                    <div class="info-div flex effect1">
                        <div class="left-button float-left vertical-align" id="navigateBackStructure">
                            <div class="icon-container">
                                <img src="~/img/octicons/svg/chevron-left.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                        <div class="middle-div" id="middle-div-meaning">
                            @await Html.PartialAsync("PartialView/MeaningTab", Model.LessonList[0])
                        </div>
                        <div class="left-button float-right vertical-align" id="navigateAheadReading">
                            <div class="icon-container">
                                <img src="~/img/octicons/svg/chevron-right.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade " id="nav-reading" role="tabpanel" aria-labelledby="nav-reading-tab">
                <div class="row justify-content-center" style="width:100%;margin:0!important">
                    <div class="info-div flex effect1">
                        <div class="left-button float-left vertical-align" id="navigateBackMeaning">
                            <div class="icon-container">
                                <img src="~/img/octicons/svg/chevron-left.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                        <div class="middle-div" id="middle-div-reading">
                            @await Html.PartialAsync("PartialView/ReadingTab", Model.LessonList[0])
                        </div>
                        <div class="left-button float-right vertical-align" id="navigateNextItem">
                            <div class="icon-container">
                                <img src="~/img/octicons/svg/chevron-right.svg" class="left-right-icon" alt="*">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @for (int i = 0; i < Model.LessonList.Count; ++i)
        {
            <div id="scheme-structure-div-@i" style="display:none!important">
                @await Html.PartialAsync("PartialView/StructureTab", Model.LessonList[i])
            </div>
        }
        @for (int i = 0; i < Model.LessonList.Count; ++i)
        {
            <div id="scheme-meaning-div-@i" style="display:none!important">
                @await Html.PartialAsync("PartialView/MeaningTab", Model.LessonList[i])
            </div>
        }@for (int i = 0; i < Model.LessonList.Count; ++i)
        {
            <div id="scheme-reading-div-@i" style="display:none!important">
                @await Html.PartialAsync("PartialView/ReadingTab", Model.LessonList[i])
            </div>
        }
        @for (int i = 0; i < Model.LessonList.Count(); ++i)
        {

            hideDiv = "";
            elementType = Model.LessonList[i].Template.Type;
            if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Radical)
            {
                elementNameColor = "radical-color";
                hideDiv = "hide-a-div";
            }
            else if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Kanji)
            {
                elementNameColor = "kanji-color";
            }
            else
            {
                elementNameColor = "word-color";
            }
            <div id="scheme-huge-@i" style="display:none!important">
                <div class="div-for-name @elementNameColor" id="mainDivName">
                    @Model.LessonList[i].Template.Name
                </div>
                <div class="div-for-meaning @elementNameColor" id="mainDivMeaning">
                    @Model.LessonList[i].MainMeaning
                </div>
            </div>
        }
    </div>

    <footer class="footer text-center justify-content-center" style="height:auto!important;vertical-align:middle!important">
        <div class="row text-center justify-content-center" style="height:auto!important;vertical-align:middle!important;">
            @for (int i = 0; i < Model.LessonList.Count(); ++i)
            {
                string componentColor = Model.LessonList[i].VocabularType + "-color";

                <div class="col" style="all:unset;width:auto!important">

                    <div class="row" style="all:unset;width:auto!important">
                        <div id="legend@(i)" class="legend-name-box @componentColor" style="display:block" onclick="SwitchToIndex(@i)">
                            <div class="legend-text-box">
                                @Model.LessonList[i].Name
                            </div>
                        </div>
                    </div>
                    <div class="row" style="all:unset;width:auto!important;display:block">
                        <input id="checkItem@(i)" type="radio" onclick="return false" input">
                    </div>
                </div>
            }
            <div class="col" style="all:unset;width:auto!important">

                <div class="row" style="all:unset;width:auto!important">
                    <div id="review-button" class="legend-name-box" style="display:inline-block; background-color:gray;">
                        <div class="legend-text-box">
                            Review
                        </div>
                    </div>
                </div>
                <div class="row" style="all:unset;width:auto!important;display:none">
                    x
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Ready for review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p style="font-size:1.2em;color:dimgray">
                                Do you want to review the items you've just learnt?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">I need more time</button>
                            <button type="button" class="btn btn-info">Go to review</button>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <script>
        LessonHideShowSynonyms();
        UpdateLegendIndex();
    </script>
</body>
</html>