@using WebApp.DTOs
@inject IJsonHelper Json;

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foxy</title>

    <!-- Bootstrap core CSS -->
    <script src="~/vendor/jquery/jquery.js"></script>


    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <!-- Plugin CSS -->
    <!-- Custom styles for this template -->
    <link href="~/css/foxy.css" rel="stylesheet">
    <link href="~/css/navbar.css" rel="stylesheet">
    <link href="~/css/ItemForm.css" rel="stylesheet">
    <link href="~/css/fontfamily.css" rel="stylesheet">
    <link href="~/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link href="~/css/DashBoard.css" rel="stylesheet" type="text/css" />

    <link href="~/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />

    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <script src="~/toastr/toastr.js"></script>
    <script src="~/circliful/js/jquery.circliful.js"></script>
    <script src="~/js/navbar.js"></script>
    <script src="~/js/foxy.js"></script>

</head>
<body>
    @{
        MenuModel menuModel = await FService.GetMenuModel(Context.User.Claims.First().Value);
    }
    <div id="my-container">
        <header class="masthead mb-auto">
            <div>
                <nav class="navbar navbar-dark navbar-expand-lg" id="main-navbar">
                    <div class="container text-center" style="height:100%; margin-top:10px; position:relative;">
                        <a style="text-decoration: none!important;" class="brand-div-foxy" asp-controller="Dashboard" asp-action="Index">
                            <div id="foxy-icon">
                                <img src="~/img/profile.png" class="rounded-circle border border-light" style="width: 70px;">
                            </div>
                            <div class="text-center" id="foxy-title-id">Foxy</div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">

                            <ul class="navbar-nav mr-auto nav-list" style="height:100%;" data-toggle="collapse" data-target="#navbarCollapse">
                                <li class="dropdown liNavbar">
                                    <div class="div-saviour">
                                        <a class="dropdown-item" asp-controller="Vocabular" asp-action="levels/l@(menuModel.Level)" style="all:unset">
                                            <div class="levels-id circle-just-border">
                                                @menuModel.Level
                                            </div>
                                        </a>
                                        <div class="dropdown-toggle menuVocabLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Levels</div>
                                        <div class="dropdown-menu drop-down-menu-foxy" aria-labelledby="menuVocabLink">
                                            @for (int lev = 1; lev <= menuModel.TotalNrLevels; ++lev)
                                            {
                                                <a class="dropdown-item" asp-controller="Vocabular" asp-action="levels/l@(lev)">
                                                    Level @lev
                                                </a>
                                            }

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="levels/l0">
                                                All Levels
                                            </a>
                                        </div>

                                    </div>
                                </li>
                                <li class="dropdown liNavbar">
                                    <div class="div-saviour text-center">
                                        <a class="dropdown-item" asp-controller="Vocabular" asp-action="grid" style="all:unset!important">
                                            <div class="levels-id hide-when-small" style="cursor:pointer">
                                                単語
                                            </div>
                                        </a>
                                        <div class="dropdown-toggle menuVocabLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lexicon</div>
                                        <div class="dropdown-menu drop-down-menu-foxy" aria-labelledby="menuVocabLink">
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="lexicon/radical">
                                                Radical
                                            </a>
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="lexicon/kanji">
                                                Kanji
                                            </a>
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="lexicon/words">
                                                Words
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="progress">
                                                Progress
                                            </a>
                                            <a class="dropdown-item" asp-controller="Vocabular" asp-action="grid">
                                                Grid
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown liNavbar">
                                    <a style="all:unset!important;cursor:pointer!important" asp-controller="Grammar" asp-action="Index">
                                        <div class="div-saviour text-center">
                                            <div class="levels-id hide-when-small">
                                                文法
                                            </div>
                                            <div class="menuVocabLink">Grammar</div>

                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown liNavbar">
                                    <div class="div-saviour text-center">
                                        <div class="levels-id hide-when-small">
                                            読書
                                        </div>
                                        <div class="menuVocabLink">Reading</div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right nav-list" style="height:100%;" data-toggle="collapse" data-target="#navbarCollapse">

                                <li class="liNavbar li-a-bit-smaller">
                                    <a style="all:unset!important" asp-controller="VocabularLesson" asp-action="lessonpage">
                                        <div class="div-saviour">
                                            <div class="levels-id circle-just-border">
                                                @menuModel.LessonNumber
                                            </div>
                                            <div class="menuVocabLink">Lesson</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="liNavbar li-a-bit-smaller">
                                    <a style="all:unset!important" asp-controller="VocabularReview" asp-action="index">
                                        <div class="div-saviour">
                                            <div class="levels-id circle-just-border">
                                                @menuModel.ReviewNumber
                                            </div>
                                            <div class="menuVocabLink">Review</div>

                                        </div>
                                    </a>
                                </li>

                                <li class="dropdown liNavbar li-a-bit-smaller">
                                    <div class="div-saviour text-center">
                                        <div class="levels-id hide-when-small">
                                            <img src="~/images/pow.jpg" class="rounded-circle" style="width: 70px;">
                                        </div>
                                        <div class="dropdown-toggle menuVocabLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</div>
                                        <div class="dropdown-menu drop-down-menu-foxy" aria-labelledby="profile-dropdown">
                                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                                            <a class="dropdown-item" href="#">Account</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-controller="Logout" asp-action="Index">Sign out</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>

</html>
