@using Data.Domain.Wrappers;
@model QuizzModel
@{
    Layout = null;
}
@{
    string typeS = "Reading";
    if ((byte)Model.Formular.Template.Type == 2)
    {
        typeS = "Listening";

    }
}
<script>
    class QuestionJs {
        constructor(number, id, answers) {
            this.number = number;
            this.id = id;
            this.answers = answers;
        }
    };
    var questionModels = [];
    var formularId = "@Model.Formular.Item.FormItemId";
</script>

@for (int orderNr = 0; orderNr < Model.Questions.Count; ++orderNr)
{
    var question = Model.Questions[orderNr];
    <script>
        answers = [];
    </script>
    @foreach (var ans in question.Template.AnswerTemplates)
    {
        <script>
            answers.push("@ans.IsTrue");
        </script>
    }
    <script type="text/javascript">
        var questionTemp = new QuestionJs(@orderNr, "@question.Item.QuestionItemId", answers.slice());
        console.log(questionTemp);
        questionModels.push(questionTemp);
    </script>
}
<script>
    console.log(questionModels);
</script>

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foxy</title>

    <!-- Bootstrap core CSS -->
    <script src="~/vendor/jquery/jquery.js"></script>


    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <!-- Plugin CSS -->
    <!-- Custom styles for this template -->
    <link href="~/css/foxy.css" rel="stylesheet">
    <link href="~/css/fontfamily.css" rel="stylesheet">
    <link href="~/circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link href="~/css/DashBoard.css" rel="stylesheet" type="text/css" />

    <link href="~/fontawesome-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />

    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <script src="~/toastr/toastr.js"></script>
    <script src="~/js/foxy.js"></script>
    <script src="~/js/quizz.js"></script>
    <link rel="icon" href="~/imagesFoxy/logoFoxy.png">
</head>
<body>
    <div class="container">
        <div class="row name-style-level text-center" style="width:100%;margin-bottom:0.5em!important;">
            <div class="text-center" style="text-align:center!important;display:inline">
                Quizz for @typeS: <div style="color:darkred;display:inline">@(Model.Formular.Template.Topic)</div>
            </div>
        </div>

        @if (typeS.Equals("Listening"))
        {
            string pathS = "list"+Model.Formular.Template.PartialViewId+".ogg";
            <audio controls style="margin-bottom:1em">

                <source src="~/sounds/listening/@pathS" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        }

        <div class="container jumbotron" style="font-size:1.2em; padding-top:1em;padding-bottom:1em;white-space: pre-line">
            @Model.Formular.Template.Description
        </div>

        @for (int qi = 0; qi < Model.Questions.Count(); ++qi)
        {
            var question = Model.Questions[qi];

            <div class="card">
                <h5 class="card-header" style="white-space: pre;font-weight:normal;color: #373860;word-break: break-all!important">@question.Template.Content</h5>
                <div class="card-body" id="question-@(qi)">
                    <div class="row text-center" style="text-align:center!important">
                        @for (int ai = 0; ai < question.Template.AnswerTemplates.Count(); ++ai)
                        {
                            var answer = question.Template.AnswerTemplates[ai];
                            <div class="row answer-option" onclick="CheckBox(@qi, @ai)" id="line-@(qi)-@(ai)">
                                <div class="scale-div overaide-scale">
                                    <div class="btn btn-outline-secondary rounded my-custom-check" id="button@(qi)-@(ai)">
                                        <i class="fas fa-check my-check-icon" id="icon@(qi)-@(ai)"></i>
                                    </div>
                                    <div class="answer-text">
                                        @answer.Text
                                    </div>
                                </div>
                            </div>
                            <div class="row answer-option-par" id="answer-response-@(qi)-@(ai)">
                                @if (answer.IsTrue)
                                {
                                    <p class="par-answer" style="color:green">Correct answer!</p>
                                }
                                else
                                {
                                    <p class="par-answer" style="color:#d51111">Wrong answer</p>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer text-muted">
                    @for (int i = 0; i < question.RequiredWords.Count(); ++i)
                    {
                        var word = question.RequiredWords[i];
                        var vtype = word.ItemLevel;
                        var componentColor = "badge-" + vtype;
                        if (word.Unlocked == false)
                        {
                            componentColor = "badge-inactive";
                        }
                        var tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + word.MainMeaning + "</p>";
                        tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + word.MainReading + "</p></div>";
                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="@word.VocabularType" asp-route-name="@word.Name">
                            <div class="badge @componentColor badge-vocab-lev rounded" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                @word.Name
                            </div>
                        </a>

                    }
                </div>
            </div>
            <div class="row text-right" style="width:100%!important;margin:0!important;display: inline-block;padding-top: 0.2em;">
                <div style="margin-bottom:2em; width:10em;font-size:1em" class="badge badge-info">
                    Right answered: @question.Item.RightAnswers/@(question.Item.RightAnswers + question.Item.WrongAnswers)
                </div>
            </div>
        }
    </div>

    <div class="row" style="margin-bottom:3em">
        <div class="row" style="width:100%;margin-bottom:1em;display:none" id="resultDiv">
            <div class="container" style="    padding-left: 1.9em!important;padding-right: 0!important;">
                <div class="alert alert-info" style="font-size:1.3em">
                    <p style="display:inline">You've got </p>
                    <b><p id="rightAnswerDiv" style="display:inline;color:#13ca13"></p></b>
                    <p style="display:inline"><b>right</b> answers from</p>
                    <p style="display:inline">@Model.Questions.Count!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <button type="button" id="submitAnswersBtn" class="btn btn-success btn-lg" style="margin-right:0.3em" onclick="SubmitAnswers()">
                Submit answers
            </button>
            <a class="" asp-controller="Reading" asp-action="Index" style="all:unset">
                <button type="button" class="btn btn-outline-secondary">Back to quizzes</button>
            </a>
            <a class="" asp-controller="Grammar" asp-action="Index" style="all:unset">
                <button type="button" class="btn btn-outline-info" id="anotherTestBtn" style="display:none" onclick="ReloadTest()">
                    Back to Dashboard
                </button>
            </a>
        </div>
    </div>

</body>
