@using Business.Wrappers;
@model VocabularWrapper
@{
    string title = "";
    if (Model.VocabularType.Equals("kanji"))
    {
        title = "radical";
    }
    else if (Model.VocabularType.Equals("word"))
    {
        title = "kanji";
    }

    string componentColor = "";
    componentColor = title + "-color";
}

<div class="row main-row">
    <div class="col-sm-2">
        <div class="row header-col-small">
            <p class="title-small">
                All meanings
            </p>
        </div>
        <div class="row synonyms-conainer">
            <div class=" row" style="all:unset; width:100%;">
                @for (int i = 0; i < Model.MeaningsList.Count(); ++i)
                {
                    <span class="badge badge-info meaning-badge" style="font-size:1.15em!important">@Model.MeaningsList[i]</span>
                }
            </div>
            <div class="row" style="all:unset;width:100%;margin-top:10px!important;">
                <p class="text-other-meaning" style="margin-bottom:0!important;">
                    User's synonyms
                </p>
            </div>
            <div class="row" style="all:unset; width:100%">
                @*<div class="synonyms-list">*@
                @for (int i = 0; i < Model.UserSynonyms.Count() && i < 5; ++i)
                {
                    <div class="divSyn@(i) d-inline-flex" style="margin:0;">
                        <span class="badge badge-secondary user-meaning-badge">
                            <button type="button" class="close btn-close" style="margin-top:3.5px!important" aria-label="Close" onclick="LessonRemoveSynonym('@Model.Item.VocabularItemId', @i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p style="margin-bottom:0; margin-right:2px;display:inline;font-size:1.2em!important" class="synonym@(i)">@Model.UserSynonyms[i]</p>

                        </span>
                    </div>
                }

                @for (int i = Model.UserSynonyms.Count(); i < 5; ++i)
                {
                    <div class="divSyn@(i)" style="margin:0;">
                        <span class="badge badge-secondary user-meaning-badge">
                            <button type="button" class="close btn-close" style="margin-top:3.5px!important" aria-label="Close" onclick="LessonRemoveSynonym('@Model.Item.VocabularItemId', @i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p style="margin-bottom:0; margin-right:2px;display:inline; font-size: 1.2em!important" class="synonym@(i)">?</p>
                        </span>
                    </div>
                }
                @* </div>*@
                <div style="display:inline;font-size:1.1em!important;font-weight:bold!important" class="add-syn-button">
                    <span class="badge badge-secondary user-meaning-badge add-syn-badge" onclick="LessonAddSynoymClicked()">+</span>
                </div>
                <form style="display:inline" class="synIdForm" data-toggle="validator" name="syn-form" onsubmit="LessonAddSynonim('@Model.Item.VocabularItemId');return false;">
                    <div class="input-group input-group-sm input-synonyms">
                        <input type="text" pattern="[a-zA-Z ]+" title="Only letters and white spaces are allowed" class="form-control synInput" placeholder="New synonym.." aria-label="Recipient's synonym" aria-describedby="basic-addon2" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" style="font-size:0.8em!important;" type="submit">Add</button>
                            <button class="btn btn-outline-secondary" style="font-size:0.8em!important;" type="button" onclick="LessonCloseInputSyn()">Discard</button>
                        </div>

                    </div>
                </form>


            </div>
            @if (title.Equals("word"))
            {
                <div class="row" style="all:unset;width:100%;margin-top:10px!important;">
                    <p class="text-other-meaning" style="margin-bottom:0!important;">
                        Word type
                    </p>
                </div>
                <div class="row" style="all:unset;width:100%;margin-top:10px!important;">
                    <div class="badge-info">@Model.WordTypeString</div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-9">
        <div class="row header-col-medium">
            <p class="title-small">
                Meaning mnemonic
            </p>
        </div>
        <div class="row mnemonic-box" style="height:auto!important">
            <div class="text-mnem" style="margin:0!important;padding:0!important;color:dimgray!important">
                @Model.Template.MeaningMnemonic
            </div>
        </div>
        <div class="row header-col-medium" style="margin-top:2em!important">
            <p class="title-small" style="font-size:1.3em!important">
                User's meaning note
            </p>
            <div class="editIconMeaning">
                <button type="button" class="btn btn-light border-dark" style="padding:0!important;width:1.5em!important; height:1.5em!important;position:absolute;vertical-align:middle;margin-left:2px!important; margin-top:3px!important; cursor:pointer!important" onclick="LessonShowMeaningInput()">
                    <img src="~/img/octicons/svg/pencil.svg" style="position:relative!important;height:1.2em; width:1.2em;padding-bottom: 3px;" alt="*">
                </button>
            </div>
            <div>
                <div class="input-group input-group-sm mb-3 input-meaning">
                    <input type="text" pattern="[^<>]*" title="Not all special charachters are permitted!" class="form-control meaningUserInput" placeholder="Meaning note.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="LessonRefreshMeaningDiv('@Model.Item.VocabularItemId.ToString()')">Save</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="LessonHideMeaningDiv()">Discard</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mnemonic-box" style="height:auto!important">
            <div class="text-mnem meaning-note" style="margin:0!important;padding:0!important;color:dimgray!important;">
                @Model.Item.MeaningNote
            </div>
        </div>
    </div>
</div>


