@using Business.Wrappers;
@model VocabularWrapper
@{
    string title = "";
    if (Model.VocabularType.Equals("kanji"))
    {
        title = "radical";
    }
    else if (Model.VocabularType.Equals("word"))
    {
        title = "kanji";
    }

    string componentColor = "";
    componentColor = title + "-color";
}

<div class="row main-row">
    <div class="col-sm-2">
        <div class="row header-col-small">
            <p class="title-small">
                Main reading
            </p>
        </div>
        <div class="row" style="margin-top:0.7em;">
            @{
                string soundPath = Model.MainReading;
            }
            <div class="badge badge-warning" style="font-size:1.3em!important;">
                <p style="margin-bottom:0!important;display:inline-block!important">
                    @Model.MainReading
                </p>
            </div>
            <button type="button" class="btn btn-light border-dark" style="padding:0!important;width:2em!important; height:2em!important;position:relative;vertical-align:middle;margin-left:7px!important; cursor:pointer!important;display:inline-block!important" onclick="playSound()">
                <img src="~/img/octicons/svg/unmute.svg" style="position:relative!important;height:1.3em; width:1.3em;padding-bottom: 3px;" alt="*">
            </button>
            <audio id="audio" src="~/sounds/@(soundPath).mp3"></audio>
        </div>

        @if (@Model.OnyomiReading.Count() > 0)
        {
            <div class="row" style="width:100%;margin-top:1em!important;text-align:left!important">
                <div sstyle="text-align:left!important">
                    <p class="text-other-meaning" style="margin-bottom:0!important;position:relative!important">
                        Onyomi reading
                    </p>
                </div>
            </div>
            <div class="row">
                @for (int j = 0; j < Model.OnyomiReading.Count; ++j)
                {
                    <div class="badge badge-secondary" style="font-size:1.15em!important;font-weight:normal!important;margin-bottom:1px;">
                        <p style="margin-bottom:0!important;">
                            @Model.OnyomiReading[j]
                        </p>
                    </div>
                }
            </div>
        }
        @if (@Model.KunyoumiReading.Count() > 0)
        {
            <div class="row" style="width:100%;margin-top:0.7em!important;text-align:left!important">
                <div sstyle="text-align:left!important">
                    <p class="text-other-meaning" style="margin-bottom:0!important;position:relative!important">
                        Kunyomi reading
                    </p>
                </div>
            </div>
            <div class="row">
                @for (int j = 0; j < Model.KunyoumiReading.Count; ++j)
                {
                    <div class="badge badge-secondary" style="font-size:1.15em!important;font-weight:normal!important;margin-bottom:1px;">
                        <p style="margin-bottom:0!important;">
                            @Model.KunyoumiReading[j]
                        </p>
                    </div>
                }
            </div>
        }

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-9">
        <div class="row header-col-medium">
            <p class="title-small">
                Reading mnemonic
            </p>
        </div>
        <div class="row mnemonic-box" style="height:auto!important">
            <div class="text-mnem" style="margin:0!important;padding:0!important;color:dimgray!important">
                @Model.Template.ReadingMnemonic
            </div>
        </div>
        <div class="row header-col-medium" style="margin-top:2em!important">
            <p class="title-small" style="font-size:1.3em!important">
                User's reading note
            </p>
            <div id="editIconReading">
                <button type="button" class="btn btn-light border-dark" style="padding:0!important;width:1.5em!important; height:1.5em!important;position:absolute;vertical-align:middle;margin-left:2px!important; margin-top:3px!important; cursor:pointer!important" onclick="ShowReadingInput()">
                    <img src="~/img/octicons/svg/pencil.svg" style="position:relative!important;height:1.2em; width:1.2em;padding-bottom: 3px;" alt="*">
                </button>
            </div>
            <div>
                <div class="input-group input-group-sm mb-3" id="input-reading">
                    <input type="text" class="form-control" id="readingUserInput" placeholder="Reading note.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="RefreshReadingDiv('@Model.Item.VocabularItemId.ToString()')">Save</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="RefreshDiv()">Discard</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mnemonic-box" style="height:auto!important">
            <div class="text-mnem" style="margin:0!important;padding:0!important;color:dimgray!important;" id="reading-note">
                @Model.Item.ReadingNote
            </div>
        </div>
    </div>
</div>


