@using WebApp.DTOs;
@model ProgressVocabModel
@{
    string componentColor;
    string vtype = "";
    string tooltip_style = "";

}

<div class="container">
    <div class="container" style="margin-bottom:2em">
        <div class="row name-style-level" style="width:100%;margin-bottom:0.5em!important">
            <div class="">
                All elements
            </div>
        </div>
        <div class="row" style="width:100%;">

            <div class="col-md-12">
                <div class="">
                    @{ 
                        string elementS = "";
                    }
                    @for (int i = 0; i < Model.AllVocabular.Count; ++i)
                    {
                        vtype = Model.AllVocabular[i].ItemLevel;
                        componentColor = "badge-" + vtype;
                        if (Model.AllVocabular[i].Unlocked == false)
                        {
                            componentColor = "badge-inactive";
                        }
                        tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + Model.AllVocabular[i].MainMeaning + "</p>";
                        if (!Model.AllVocabular[i].VocabularType.ToLower().Equals("radical"))
                        {
                            tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + Model.AllVocabular[i].MainReading + "</p></div>";
                        }
                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="@Model.AllVocabular[i].VocabularType" asp-route-name="@Model.AllVocabular[i].Name">
                            <div class="badge @componentColor badge-vocab-lev rounded" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                @Model.AllVocabular[i].Name
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:2em">
        @*<div class="row name-style-level" style="width:100%;">
                <div class="">
                    All elements
                </div>
            </div>*@
        <div class="row" style="width:100%;">
            <div class="col-md-3">
                <div class="text-other-meaning" style="font-size:1em!important">
                    Radical
                </div>
                <div class="">
                    @for (int i = 0; i < Model.Radical.Count; ++i)
                    {
                        vtype = Model.Radical[i].ItemLevel;
                        componentColor = "badge-radical" + vtype;
                        if (Model.Radical[i].Unlocked == false)
                        {
                            componentColor = "badge-inactive";
                        }
                        tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + Model.Radical[i].MainMeaning + "</p>";
                        
                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="radical" asp-route-name="@Model.Radical[i].Name">
                            <div class="badge @componentColor badge-vocab-lev rounded" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                @Model.Radical[i].Name
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-other-meaning" style="font-size:1em!important">
                    Kanji
                </div>
                <div class="">
                    @for (int i = 0; i < Model.Kanji.Count; ++i)
                    {

                        vtype = Model.Kanji[i].ItemLevel;
                        componentColor = "badge-" + vtype;
                        if (Model.Kanji[i].Unlocked == false)
                        {
                            componentColor = "badge-inactive";
                        }
                        tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + Model.Kanji[i].MainMeaning + "</p>";
                        tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + Model.Kanji[i].MainReading + "</p></div>";
                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="kanji" asp-route-name="@Model.Kanji[i].Name">
                            <div class="badge @componentColor badge-vocab-lev rounded" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                @Model.Kanji[i].Name
                            </div>
                        </a>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-other-meaning" style="font-size:1em!important">
                    Words
                </div>
                <div class="">
                    @for (int i = 0; i < Model.Words.Count; ++i)
                    {
                        vtype = Model.Words[i].ItemLevel;
                        componentColor = "badge-" + vtype;
                        if (Model.Words[i].Unlocked == false)
                        {
                            componentColor = "badge-inactive";
                        }
                        tooltip_style = "<p style=\"text-transform:capitalize;padding:1px; margin:0\">" + Model.Words[i].MainMeaning + "</p>";
                        tooltip_style = tooltip_style + "<div style=\"background-color:#565656; margin:2px; margin-right:0px; margin-left:0px; margin-bottom:4px; width:100%;border-radius: 2px;\"><p style=\"padding:1px; margin:0\">" + Model.Words[i].MainReading + "</p></div>";
                        <a style="all:unset!important" asp-controller="Vocabular" asp-action="word" asp-route-name="@Model.Words[i].Name">
                            <div class="badge @componentColor badge-vocab-lev rounded" data-toggle="tooltip" data-placement="top" data-html="true" title="@tooltip_style">
                                @Model.Words[i].Name
                            </div>
                        </a>
                    }
                </div>
            </div>

        </div>
    </div>
</div>