@using Business.Wrappers;
@model VocabularWrapper
@{
    Layout = null;
}

@{
    Data.Domain.Entities.TemplateItems.VocabularType elementType;
    string elementNameColor;
    string elementMeaningColor;
    string hideDiv;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foxy</title>

    <!-- Bootstrap core CSS -->
    <script src="~/vendor/jquery/jquery.js"></script>


    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <!-- Plugin CSS -->
    <!-- Custom styles for this template -->
    <link href="~/css/foxy.css" rel="stylesheet">
    <link href="~/css/ItemForm.css" rel="stylesheet">
    <link href="~/css/fontfamily.css" rel="stylesheet">
    <link href="~/css/DashBoard.css" rel="stylesheet" type="text/css" />
    <link href="~/toastr/toastr.css" rel="stylesheet" />
    <link href="~/css/Review.css" rel="stylesheet" />

    <link href="~/css/LessonVocabular.css" rel="stylesheet" />

    <script src="~/toastr/toastr.js"></script>
    <script src="~/js/foxy.js"></script>
    <script src="~/js/LessonSession.js"></script>
    <script src="~/js/review.js"></script>
    <script src="~/js/wanakana.min.js"></script>
</head>
<body>
    <div class="fill-screen">
        <div class="upper-header">

        </div>
        <a style="all:unset!important" asp-controller="Dashboard" asp-action="Index">
            <div class="my-btn-home">
                <img href="#nav-meaning" src="~/img/octicons/svg/home.svg" class="home-icon" alt="*">
                <p style="font-weight:bold; color:rgba(0, 0, 0, 0.84);">Home</p>
            </div>
        </a>
        <div id="huge-text-div">
            @{
                hideDiv = "";
                var hideReading = false;
                elementType = Model.Template.Type;
                var styledefault = "";
                if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Radical)
                {
                    elementNameColor = "radical-color";
                    hideDiv = "hide-a-div";
                    hideReading = true;
                    styledefault = "display:none;";
                }
                else if (elementType == Data.Domain.Entities.TemplateItems.VocabularType.Kanji)
                {
                    elementNameColor = "kanji-color";
                }
                else
                {
                    elementNameColor = "word-color";
                }
            }
            <div class="div-for-name @elementNameColor" id="mainDivName">
                @Model.Template.Name
            </div>
            @*<div class="div-for-meaning @elementNameColor" id="mainDivMeaning">
                    @Model.MainMeaning
                </div>*@

        </div>
        <nav class="my-navbar-dark">
            <div class="nav nav-tabs justify-content-center" id="nav-tab">
                <div id="eye-button" class="btn-light text-center rounded" style="width:2em;font-size:1.5em; cursor:pointer" data-toggle="tooltip" data-placement="bottom" title="Check the right answer">
                    <img href="#nav-meaning" src="~/img/octicons/svg/eye.svg" style="width:1.3em;margin-bottom:3px" alt="*">
                </div>
            </div>
        </nav>
        <div id="see-answer" class="">
            @await Html.PartialAsync("PartialView/ReviewInfo", Model)
        </div>
        <div class="justify-content-center">
            <form id="reviewform" name="review-form" onsubmit="return validateForm(this);" class="needs-validation input-form justify-content-center" autocomplete="off">
                <div class="row justify-content-center" style="margin-top:2em;width:100%!important;margin-right:0px!important;margin-left:0px!important;">
                    <div class="input-container" style="width:22em">
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Meaning</span>
                            </div>
                            <input type="text" id="meaninginput" name="meaning-input" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:2.3em!important" id="meaning-result"></span>
                            </div>

                            <div class="invalid-feedback text-center" id="div-validate-meaning">
                                x
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" id="div-reading-wanakana" style="@styledefault">
                    <div class="input-container" style="width:22em">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Reading</span>
                            </div>
                            <input id="wanakanainput" name="reading-input" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:2.3em!important" id="reading-result"></span>
                            </div>
                            <div class="invalid-feedback text-center" id="div-validate-reading">
                                x
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="width:100%!important;margin:0!important" id="alert-for-success">
                    <div class="alert alert-success alert-dismissible fade show result-alert text-center" role="alert">
                        🠝 Item level -
                        <p id="level-name-success" class="title-level">

                        </p>
                    </div>
                </div>
                <div class="row justify-content-center" style="width:100%!important;margin:0!important" id="alert-for-failure">
                    <div class="alert alert-danger alert-dismissible fade show result-alert text-center" role="alert">
                        🠟 Item level -
                        <p id="level-name-failure" class="title-level">

                        </p>
                    </div>
                </div>
                <div class="row justify-content-center" style="width:100%!important;margin:0!important">
                    <button id="submitButton" type="submit" class="btn btn-info">Submit</button>
                </div>
                <div class="row justify-content-center" style="width:100%!important;margin:0!important">
                    <button id="nextButton" type="submit" class="btn btn-warning">Next</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        HideWanakanaReading('@hideReading');
    </script>
</body>
</html>